* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121214;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

.wrapper {
  margin: 0 48px;
}

.wrapper-full {
  margin: 0;
}

a {
  text-decoration: none;
  color: #A6A8AD;
}

.header {
  display: grid;
  grid-template-columns: 10% 70% 20%;
  padding: 20px 0px;
  line-height: 40px;
}
.header .header__link {
  margin-right: 20px;
}
.header .header__signing {
  display: flex;
  justify-content: end;
}
.header .header__signing button {
  padding: 8px 21px;
  border: none;
  border-radius: 32px;
  background-color: #FFFFFF;
}

.subscription {
  display: flex;
  justify-content: center;
  background-color: #0033FF;
  color: #FFFFFF;
  padding: 11px 0;
}
.subscription .subscription__text {
  margin-right: 60px;
}
.subscription .subscription__link a {
  text-decoration: underline;
  color: #FFFFFF !important;
}

.landing {
  display: grid;
  grid-template-rows: auto fit-content(100px) auto 20%;
  padding: 0 48px;
  height: 744px;
  background-image: url(../images/landing.png);
  background-size: cover;
  align-items: center;
}
.landing .landing__heading {
  font-size: 3rem;
}
.landing .landing__text {
  font-size: 1.2rem;
}
.landing .landing__button button {
  padding: 16px 32px;
  background-color: #0033FF;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.content .content__text {
  display: grid;
  gap: 10px;
}
.content .content__text span {
  text-transform: uppercase;
  color: #A6A8AD;
}
.content .content__text button {
  padding: 10px 20px;
  background-color: #0033FF;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
}
.content .content__img {
  text-align: center;
}
.content .content__text.right {
  text-align: end;
}

.reviews {
  margin-top: 100px;
}
.reviews .reviews__cards {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 24px;
}
.reviews .reviews__cards .reviews__card {
  padding: 35px;
  background-color: #FFFFFF;
  border-radius: 8px;
}
.reviews .reviews__cards .reviews__card .reviews__card_img {
  text-align: center;
}
.reviews .reviews__cards .reviews__card p {
  margin-top: 30px;
  font-size: 1.2rem;
  text-align: start;
  color: #000000;
}
.reviews .reviews__cards .reviews__card .card_author {
  margin-top: 15px;
  font-size: 1rem;
  text-align: start;
  color: #A6A8AD;
}

.startNow {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  margin-top: 120px;
  height: 728px;
  background-image: url(../images/tryNow.png);
  background-size: cover;
}
.startNow .startNow__heading {
  font-size: 3rem;
  align-self: end;
  margin-bottom: 30px;
}
.startNow .startNow__button button {
  background-color: #0033FF;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.2rem;
}

.footer .footer__blocks {
  display: flex;
  justify-content: space-between;
}
.footer .footer__blocks h1 {
  margin: 40px 0 10px 0;
}
.footer .footer__blocks .footer__link {
  margin-top: 10px;
}
.footer .footer__block_long {
  width: 60%;
  margin: 80px 0 60px 0;
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
